---
http_interactions:
- request:
    method: get
    uri: https://html.duckduckgo.com/html/?q=Ruby%20on%20Rails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!-- <!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\"
        \"http://www.w3.org/TR/html4/loose.dtd\"> -->\n<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n
        \   <link rel=\"canonical\" href=\"https://duckduckgo.com/\">\n    <meta http-equiv=\"content-type\"
        content=\"text/html; charset=UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0, maximum-scale=3.0, user-scalable=1\">\n    <meta name=\"referrer\"
        content=\"origin\">\n    <title>\n        DuckDuckGo\n    </title>\n    <link
        rel=\"preload\" href=\"/font/ProximaNova-Reg-webfont.woff2\" as=\"font\" type=\"font/woff2\"
        crossorigin=\"anonymous\">\n    <link rel=\"preload\" href=\"/font/ProximaNova-Sbold-webfont.woff2\"
        as=\"font\" type=\"font/woff2\" crossorigin=\"anonymous\">\n    <link title=\"DuckDuckGo
        (Lite)\" type=\"application/opensearchdescription+xml\" rel=\"search\" href=\"//duckduckgo.com/opensearch_lite_v2.xml\">\n
        \   <lin[...]
